/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Utili */

body{
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}

ul{
    list-style-type: none;
}

hr{
    margin: 60px 0;
    width: 20%;
    background-color: lightgray;
    height: 1px;


}

/* Regole bottoni */
.button{
    background-color: #0161fe;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

.large{
    padding: 15px 20px;
}

.btn-flex{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

/* Regole per titoli e scritte */
h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 40px;
}

h2{
    font-size: 2rem;
    padding-bottom: 60px;
}

h3{
    font-size: 1.4rem;
    padding-bottom: 20px;
}

h4{
    font-size: 1.4rem;
    padding-bottom: 10px;
}

.small-bold{
    font-weight: 900;
    font-size: 0.8rem;
    padding: 10px 0;
}

/* Regole icone lista */
.icons{
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
    gap: 0.3em;
}
.icons i{
    margin-top: 0.2em;
}

.fa-check{
    color: #0160FE;
    font-size: 1rem;
}

/* Regole Container */

.container{
    max-width: 80%;
    margin: 0 auto;
}

.main-container{
    max-width: 70%;
    margin: 0 auto;
    padding: 100px 0;
}


/* Regole Header */

#header-fix{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.header-flex{
    display: flex;
    padding: 0 30px;
}

/* Regole Barra di Navigazione */

.nav-left, 
.nav-right{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.nav-left ul,
.nav-right ul{
    display: flex;
    align-items: center;
    
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.drop-logo{
    display: flex;
    align-items: center;
}

.nav-right{
    justify-content: flex-end;
}

/* Regole Jumbo */

#main-header{
    background-color: #C1D6E7;
    padding-top: 120px;
    height: 710px;
}

.jumbo{
    width: 100%;
}

.jumbo-flex{
    display: flex;
}

.small-box{
    width: 30%;
}

.big-box{
    width: 70%;
}

/* Regole scritte Jumbo */


.jumbo-photo{
    width: 100%;
}

div.small-box > *{
    padding-bottom: 40px;
}
.fa-arrow-down{
    font-size: 3rem;
    padding-top: 20px;
    color: black;
}

/* Regole Sezione Pagamento */

#display-card-flex{
    padding-top: 60px;
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    width: calc((100% / 3) - (80px / 3));
    border: 1px solid lightgray;
}

.column{
    flex-grow: 1;
    margin-bottom:150px;
}
.period{
    padding: 15px 0 50px 0;
    color: grey;
}

.contact{
    padding-bottom: 50px;
}

.horizontal{
    display: flex;
    
}

/* Parte sopra della card */
.card-header{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

/* Parte sotto della card */
.card-main{
    padding: 30px 30px;
}

.main-large{
    width: 70%;
}
.main-small{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
}


/* Cerchietti sopra le card */
.circle{
    display: inline-block;
    border: 2px solid gray;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 40px;
    margin-right: 5px;
}

.blue{
    border: 5px solid #0160FE;
    margin-left: 0;
}


/* Regole sezione Partner */

.partner-flex{
    display: flex;
    width: 100%;
    gap: 40px;
    min-height: 400px;
    margin-bottom: 80px;  
}

.big-section{
    width: 60%;  
}

.small-section{
    width: 40%;
    padding-top: 40px;
}

.small-section p{
    padding-bottom: 40px;
}

.white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Regole sezione Operazioni */

.layout-item-flex{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;
}

.item{
    width: calc((100% / 3) - (80px / 3));
}

.photo{
    display: inline-block;
    width: 100%;

}

.item h3{
    padding-bottom: 40px;
}


/* Regole Footer */

footer{
    background-color: black;
    color: white;
}

.footer-flex{
    padding-top: 60px;
    display: flex;
    width: 100%;
}

.footer-item{
    width: 20%;
    padding-bottom: 80px;
}

/* Regole scritte Footer */

footer li{
    margin: 20px 0;
}

footer a{
    color: white;
    text-decoration: none;
}

.lang{
    display: inline-block;
    color: gray;
    padding: 40px 20px 40px 0;
    border-top: 1px solid white;
    
}

/* Regole Hover */

.nav-link:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
    cursor: pointer;
}

footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Prova Bonus */

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a{
  color: black;
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover{
  background-color: #0160FE;
  color: white;
}

.dropdown:hover .dropdown-content{
  display: block;
}
