/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Utili */

body{
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.blue-button{
    background-color: #0161fe;
    padding: 5px 15px;
    color: white;
}

.large{
    padding: 15px 20px;
}

h2{
    padding-bottom: 60px;
}

/* Regole Container */

.container-jumbo{
    max-width: 75%;
    margin: 0 auto;
}

.main-container{
    max-width: 65%;
    margin: 0 auto;
    padding: 100px 0;
}


/* Regole Header */

.header-fix{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.header-flex{
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

/* Regole Barra di Navigazione */

.nav-left, 
.nav-right{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.nav-left ul,
.nav-right ul{
    display: flex;
    gap: 0 30px;
    
}

.drop-logo{
    height: 1.4rem;
    margin-right: 30px;
}

.nav-right{
    justify-content: flex-end;
}


/* Regole Jumbo */

.main-header{
    background-color: #C1D6E7;
    height: 710px;
    padding-top: 120px;
}

.jumbo{
    width: 100%;
}

.jumbo-flex{
    display: flex;
}

.small-box{
    width: 30%;
}

.big-box{
    width: 70%;
}

/* Regole scritte Jumbo */

h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 40px;
}

.jumbo-photo{
    width: 100%;
}

div.small-box > *{
    padding-bottom: 40px;
}
.fa-arrow-down{
    font-size: 3rem;
    padding-top: 20px;
}

/* Regole Sezione Pagamento */

.display-card-flex{
    padding-top: 60px;
    display: flex;
    width: 100%;
    gap: 40px;
}

.card{
    width: calc(100% / 3);
    border: 1px solid grey;
    min-height: 600px;
}

.card-header{
    height: 50px;
    border: 1px solid grey;
}

.last-card{
    margin-top: 40px;
    width: 100%;
    border: 1px solid gray;
    height: 263px;
    margin-bottom: 100px;
}

/* Regole sezione Partner */

.partner-flex{
    display: flex;
    width: 100%;
    gap: 40px;
    min-height: 600px;
    margin-bottom: 80px;
    
}

.big-section{
    flex-basis: 60%;
    border: 1px solid gray;
    
}

.small-section{
    flex-basis: 40%;
    border: 1px solid gray;
    
}
