/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole Utili */

body{
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.blue-button{
    background-color: #0161fe;
    padding: 5px 15px;
    color: white;
}

/* Regole Header */

header{
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-flex{
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
}

/* Regole Barra di Navigazione */

.nav-left, 
.nav-right{
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.nav-left ul,
.nav-right ul{
    display: flex;
    gap: 0 30px;
    
}

.drop-logo{
    height: 1.4rem;
    margin-right: 30px;
}

.nav-right{
    justify-content: flex-end;
}


